*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #EA002A;
}
body{
    color:white;
    background:black; 
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 85%;
    margin:auto;
    padding: 1rem;
}

nav, .left , .right 
{
    text-transform: uppercase;
    display :flex;
    justify-content: space-between;
    align-items: center;
    gap : 1rem;
 
}

.delivery,.pick-up
{
display: flex;
align-items: center;
gap: 0.4rem;
background: #1C1816;
color: white;
padding: 0.3rem;
border-radius: 5px;

}
.delivery{
    border: 2px solid #EA002A;
}


.menu{
     color: white; 
    font-size: 2.5rem;
}

.login button{
    padding: 0.4rem;
    text-transform: uppercase ;
    background: #EA002A;
    color: white;
    border: none;
border-radius: 5px ;
font-weight: bolder;
}

.slider{
    background-image:url(https://www.kfcpakistan.com/images/687484a0-6201-11ee-8ac0-c317b31d38fe-995x356-_desktop_image-2023-10-03152748.jpg) ;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.reorder
{
    background: #EA002A;
    padding: 0.5rem;
    width: 50%;
    margin:1rem auto;
    color: white;
    display: block;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    border-radius:5px ;

}

.explore , .selling{
    width: 85%;
    margin: auto;
    text-transform: uppercase;
}

.cards{
  display: flex; 
  gap: 2rem;

}
    
hr {
    width: 50px;
    height:4px;
    border: radius 10px; ;
    background-color: #EA002A;
    border: none;
    margin: 0.6rem 0;

}


.card{
    background-color: #1C1816;
    border-radius: 50% 50% 10px 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s;
    
}

.dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background:black ;
    position: absolute;
    bottom: 10px;
    right: 5px;

}

.card:hover{
    transform: translateY(-10px);
}

.selling-cards{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    
}

.selling-card{
    background: #1C1816;
    border-radius: 5px;
    

}

.dots{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.dot-red{
    width: 15px;
    height: 25px;
    background: red;
}

.selling-card h2{
    margin-left:1rem ;

}

.price{
    clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 31% 50%, 0% 0%);
    padding: 1rem;
    background: #EA002A;
    width: 30%;
    margin-left: auto;
    text-align: right;
    
}

.selling-card button{
    padding:0.7rem;
    margin: auto;
    display: block;
    margin-bottom: -1rem;
    background: #EA002A;
    color: white;
    border: none;
    font-weight: bolder;
    border-radius: 5px;
}

.selling-card img{
    transition: all 0.7s;

}

.selling-card :hover img{
    scale:1.4s;
}


.images{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
}

.top,.bottom{
    display: flex;
    margin: auto;
    gap: 2rem;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    background: #1C1816;
    margin-top:2rem ;
}

.first{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

.icons{
    display: flex;
    gap: 1rem;
}

.icons i{
    background-color: white;
    color: black;
    padding: 0.6rem;
    border-radius: 50%;
    
}

.second{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;

}

.second ul{
    list-style: none;
    text-transform: capitalize;
    line-height: 2;
}

.third{
    display:flex;
    justify-content: space-around;
}
.third h5{
    color: #EA002A;
    font-size:1.4rem;
    text-transform: capitalize;

}

.third a{
    color: white;
}

.second ul li{
    transition: all 0.3s;
}

.second ul li :hover{
    color: #EA002A;
}

/* For screens smaller than 576px (e.g., smartphones) */
@media (max-width: 575.98px) {
    /* Adjust styles for smaller screens here */
}

/* For screens between 576px and 767.98px (e.g., tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Adjust styles for medium-sized screens here */
}

/* For screens between 768px and 991.98px */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Adjust styles for tablets and larger phones here */
}

/* For screens between 992px and 1199.98px (e.g., large tablets and desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Adjust styles for larger screens here */
}

/* For screens 1200px and larger (e.g., desktops) */
@media (min-width: 1200px) {
    /* Adjust styles for extra-large screens here */
}
